<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Values in this appSettings section could alternatively be added to the LaunchBox.exe.config or BigBox.exe.config file. -->
  <!-- Settings in this file FOR THIS PLUGIN will override identical settings specified in LaunchBox.exe.config or BigBox.exe.config -->

  <!-- ShowIn: Valid Values are "True" and "False" -->

  <!-- QOTD_Type: Valid Values are "Bible Gateway Verse", "Brainy Quote", "Local File", or "Random" -->

  <!-- QuoteWidthPercentage/QuoteHeightPercentage: Percentages should be between 50 and 100, 80 is default -->
  
  <!-- BackgroundOpacityPercentage: Opacity Percentage can be between 0 and 100 -->

  <!-- HexColor: Default color for the text of the quote represented in HTML color codes. Default is "#ff0000"-->

  <!-- TransparancyAlphaValue: Valid values are 0 to 255. 0 = invisible, 255 = fully opaque -->

  <!-- SecondsToDisplayQuotePerWord: This setting will be multiplied by the number of words in the quote and treated as seconds to display the quote -->

  <!-- BibleVersion is the version to display. Over 300 translations are available, though some may be restricted due to copyright.
          An updated listing of versions can be found here: http://www.biblegateway.com/usage/linking/versionslist/ (Not working as of this publication)
          
           1 = Albanian Bible (ALB)
           2 = Amuzgo de Guerrero (AMU) - Unkown
           3 = Conferenza Episcopale Italiana (CEI)
           4 = Biblia Sacra Vulgata (VULGATE)
           5 = Det Norsk Bibelselskap 1930 (DNB1930)
           6 = Reina-Valera Antigua (RVA)
           7 = Svenska 1917 (SV1917)
           8 = American Standard Version (ASV)
           9 = King James Version (KJV)
          10 = Luther Bibel 1545 (LUTH1545)
          11 = Dette er Biblen på dansk (DN1933)
          12 = Nueva Biblia al Día (NBD)
          13 = Russian Synodal Version (RUSV)
          14 = Nouă Traducere În Limba Română (NTLR)
          15 = Young's Literal Translation (YLT)
          16 = Darby Translation (DARBY)
          17 = Hungarian Károli (KAR)
          18 = Icelandic Bible (ICELAND)                             
          19 = 1934 Vietnamese Bible (VIET)
          20 = Amuzgo de Guerrero (AMU) - Unkown
          21 = Bulgarian Bible (BULG)
          22 = Chinese Union Version (Traditional) (CUV)
          23 = Haitian Creole Version (HCV)
          24 = Maori Bible (MAORI)
          25 = Amuzgo de Guerrero (AMU) - Unkown
          26 = Amuzgo de Guerrero (AMU) - Unkown
          27 = Ukrainian Bible (UKR)
          28 = Amuzgo de Guerrero (AMU) - Unkown
          29 = Slovo na cestu (SNC)
          30 = Het Boek (HTB)
          31 = New International Version (NIV)
          32 = La Bible du Semeur (BDS)
          33 = Hoffnung für Alle (HOF)
          34 = Amuzgo de Guerrero (AMU) - Unkown
          35 = En Levende Bok (LB)
          36 = Nova Versão Internacional (NVI-PT)
          37 = O Livro (OL)
          38 = Amuzgo de Guerrero (AMU) - Unkown
          39 = New Russian Translation (NRT)
          40 = Nádej pre kazdého (NPK)
          41 = Amuzgo de Guerrero (AMU) - Unkown
          42 = Nueva Versión Internacional (NVI)
          43 = Ang Salita ng Diyos (SND)
          44 = Nya Levande Bibeln (SVL)
          45 = Amplified Bible (AMP)
          46 = Contemporary English Version (CEV) - Restricted due to copyright issues.
          47 = English Standard Version (ESV)
          48 = 21st Century King James Version (KJ21)
          49 = New American Standard Bible (NASB)
          50 = New King James Version (NKJV)
          51 = New Living Translation (NLT)
          52 = Amplified Bible, Classic Edition (AMPC)
          53 = Wycliffe Bible (WYC)
          54 = Amuzgo de Guerrero (AMU) - Unkown
          55 = La Nuova Diodati (LND)
          56 = Reimer 2001 (REIMER)
          57 = Traducción en lenguaje actual (TLA)
          58 = Dios Habla Hoy (DHH)
          59 = La Biblia de las Américas (LBLA)
          60 = Reina-Valera 1960 (RVR1960)
          61 = Reina-Valera 1995 (RVR1995)
          62 = Knijga O Kristu (CRO)
          63 = Douay-Rheims 1899 American Edition (DRA)
          64 = New International Version - UK (NIVUK)
          65 = The Message (MSG)
          66 = Amuzgo de Guerrero (AMU) - Unkown - Unkown
          67 = Amuzgo de Guerrero (AMU) - Unkown
          68 = 1881 Westcott-Hort New Testament (WHNU)
          69 = 1550 Stephanus New Testament (TR1550)
          70 = 1894 Scrivener New Testament (TR1894)
          71 = Ang Pulong Sang Dios (HLGN)
          72 = New International Version (NIV)
          73 = Worldwide English (New Testament) (WE)
          74 = New Life Version (NLV)
          75 = Neno: Bibilia Takatifu (SNT)
          76 = New International Reader's Version (NIRV)
          77 = Holman Christian Standard Bible (HCSB)
          78 = New Century Version (NCV)
          79 = Amuzgo de Guerrero (AMU) - Unkown
          80 = Chinese Union Version (Simplified) (CUVS)
          81 = The Westminster Leningrad Codex (WLC)
          82 = 1940 Bulgarian Bible (BG1940)
          83 = Amuzgo de Guerrero (AMU) - Unkown
          84 = Amuzgo de Guerrero (AMU) - Unkown
          85 = Amuzgo de Guerrero (AMU) - Unkown
          86 = Good News Translation (GNT)
          87 = Amuzgo de Guerrero (AMU) - Unkown
          88 = Mam, Central (MVC) - Restricted due to copyright issues.
          89 = Amuzgo de Guerrero (AMU) - Unkown
          90 = Chinanteco de Comaltepec (CCO)
          91 = Amuzgo de Guerrero (AMU) - Unkown
          92 = Amuzgo de Guerrero (AMU) - Unkown
          93 = Amuzgo de Guerrero (AMU) - Unkown
          94 = Amuzgo de Guerrero (AMU) - Unkown
          95 = Библия, нов превод от оригиналните езици (с неканоничните книги) (CBT)
          96 = Amuzgo de Guerrero (AMU) - Unkown
          97 = Amuzgo de Guerrero (AMU) - Unkown
          98 = Cakchiquel Occidental (CKW) - Restricted due to copyright issues.
          99 = Amuzgo de Guerrero (AMU) - Unkown     
          
     -->
  <appSettings>
    <add key="ShowInLaunchBox" value="True"/>
    <add key="ShowInBigBox" value="True"/>
    
    <add key="QOTD_Type" value="Local File"/>

    <add key="LocalFileLocation" value=""/>
    
    <add key="QuoteWidthPercentage" value="80"/>
    <add key="QuoteHeightPercentage" value="80"/>
    
    <add key="BackgroundOpacityPercentage" value="60"/>
    
    <add key="MinimumCharactersPerLine" value="20"/>
    <add key="MaxNumberOfLines" value="4"/>

    <add key="FontStyle" value="Calibri, 9pt, style=Italic" />
    <add key="FontColor" value="White" />
    <add key="BackgroundColor" value="Black" />
    
    <add key="TransparancyAlphaValue" value="255"/>
    
    <add key="SecondsToDisplayQuotePerWord" value=".3"/>

    <add key="BibleVersion" value="31"/>
    
    <add key="WindowNames" value="LaunchBox Games Database,LaunchBox Premium,LaunchBox Big Box"/>
  </appSettings>
</configuration>